<!-- Cabecera -->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">App Actividad Productos</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        
      </ul>
    </div>
  </nav>
</header>

<!-- Contenido principal -->
<section class="m-5">
  <h1>App Actividad Productos</h1>
  <hr>
  <section class="container">
    <app-products-list></app-products-list>
    <app-product-form></app-product-form>
    <app-product-filter></app-product-filter>
  </section>
</section>

<!-- Pie de página -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">&copy; Patri 2025 App Actividad Productos.</span>
  </div>
</footer>
